{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tareas/style.css' %}">
    <title>Gestor de tareas</title>
</head>

<body>
    <header>
        <h1>Gestor de tareas</h1>
        <hr>
    </header>
    <nav>
        {% if user.is_authenticated %}
        <div class="nav-contenido">
            <div class="nav-izquierda">
                <span class="usuario">¡Hola {{ user.first_name }}!</span>
                {% if request.resolver_match.url_name != "lista_tareas" %}
                <a href="{% url 'lista_tareas' %}">Inicio</a>
                {% endif %}

                {% if request.resolver_match.url_name != "crear_tarea" %}
                <a href="{% url 'crear_tarea' %}">Añadir tarea</a>
                {% endif %}
            </div>

            <div class="nav-derecha">
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                        Cerrar sesión
                    </button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="nav-contenido">
            {% if request.resolver_match.url_name != "login" %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}

            {% if request.resolver_match.url_name != "signup" %}
            <a href="{% url 'signup' %}">Registrarse</a>
            {% endif %}
        </div>
        {% endif %}
    </nav>
    <main>
        {% block contenido %}
        {% endblock %}
    </main>
    <footer>
        <p>Prueba de evaluación - Parte 2 <br>
            Yun Elia Gil y Rizwan Baig - Programación en Python 2º DAW
        </p>
    </footer>
</body>

</html>