{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tareas/style.css' %}">
    <title>Gestor de tareas</title>
</head>

<body>
    <header>
        <h1>Gestor de tareas</h1>
        <hr>
    </header>
    <nav>
        <a href="{% url 'lista_tareas' %}">Inicio</a>
    </nav>
    <main>
        {% block contenido %}
        {% endblock %}
    </main>
    <footer>
        <p>Prueba de evaluación - Parte 2 <br>
            Yun Elia Gil y Rizwan Baig - Programación en Python 2º DAW
        </p>
    </footer>
</body>

</html>