{% extends "base.html" %}

{% block title %}Editar tarea{% endblock %}

{% block contenido %}

<div class="form-container">
    <h2>Editar tarea</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="acciones-form">
            <button type="submit" class="btn btn-guardar">Guardar cambios</button>
            <a href="{% url 'detalle_tarea' object.pk %}" class="btn btn-cancelar">
                Cancelar
            </a>

        </div>
    </form>
</div>
{% endblock %}