{% extends "base.html" %}

{% block title %}Eliminar tarea{% endblock %}

{% block contenido %}
<div class="form-container">
    <h2>¿Seguro que quieres eliminar esta tarea?</h2>

    <p><strong>{{ object.titulo }}</strong></p>

    <form method="post">
        {% csrf_token %}
        <div class="acciones-form">
            <button type="submit" class="btn btn-eliminar">Eliminar</button>

            <a href="{% url 'detalle_tarea' object.pk %}" class="btn btn-cancelar">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}