{% extends "tareas/base.html" %}

{% block contenido %}

<h2>Lista de tareas</h2>

{% if tareas %}

<!-- si existen tareas, mostramos en una lista -->
<ul>

    {% for tarea in tareas %}

    <li>
        <!-- enlace al detalle de la tarea -->
        <strong>
            <a href="{% url 'detalle_tarea' tarea.pk %}">
                {{ tarea.titulo }}
            </a>
        </strong>
        <br>

        <!-- descripcion de la tarea -->
        {{ tarea.descripcion }}
    </li>

    {% endfor %}

</ul>

{% else %}

<!-- msj si no hay tareas -->
<p>No hay tareas creadas.</p>

{% endif %}

{% endblock %}