{% extends "tareas/base.html" %}

{% block contenido %}

<h2>Lista de tareas</h2>

<!-- form de búsqueda -->
<form method="get" class="busqueda">
    <input type="text" name="tareaBuscar" placeholder="Buscar tarea..." value="{{ request.GET.tareaBuscar }}">
    <button type="submit">Buscar</button>
</form>

{% if user.is_authenticated %}
    <a href="{% url 'crear_tarea' %}"> Nueva tarea</a>
{% endif %}


{% if tareas %}

<!-- si existen tareas, mostramos en un contenedor con secciones-->
<div class="contenedor-tareas">
    {% for tarea in tareas %}

    <section class="tarea">
        <!-- enlace al detalle de la tarea -->
        <h3>
            <a href="{% url 'detalle_tarea' tarea.pk %}">
                {{ tarea.titulo }}
            </a>
        </h3>

        <!-- descripcion de la tarea -->
        <p>{{ tarea.descripcion }}</p>

        <small>
            Creada el {{ tarea.fecha_creacion|date:"d/m/Y H:i" }}
        </small>

    </section>

    {% endfor %}
</div>

{% else %}

<!-- msj si no hay tareas -->
<p>No hay tareas creadas.</p>

{% endif %}

{% endblock %}